body{
    color: #999;
    background-color: #67b168;
    background-image: url(./../images/vig.jpg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}
.form-control{
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e1e1;
}

.form-control:focus{
    border-color: #00cb82;
}

.form-control, btn{
    border-radius: 3px;
}

.form-header{
    margin: -30px -30px 20px;
    padding: 30px 30px 10px;
    text-align: center;
    background: #00cb82;
    border-bottom: 1px solid #eee;
    color: #fff;
}

.form-header h2{
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 10px;
    /*margin: 0 0 -65px;*/
    /*margin: 0 0 -80px;*/
    font-family: 'Baskerville Old Face', sans-serif;
}

.form-header p{
    margin: 20px 0 15px;
    font-size: 17px;
    /*color: black;*/
    line-height: normal;
    font-family: 'Algerian', sans-serif;
}
.signup-form{
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f0f0f0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group{
    margin-bottom: 20px;
}

.signup-form label{
    font-weight: normal;
    font-size: 13px;
}
.signup-form input[type="checkbox"]{
    margin-top: 2px;
}
.signup-form label input[type="file"]{
    margin-top: 4px;
}

.signup-form .btn{
    font-size: 16px;
    font-weight: bold;
    background: #00cb82;
    border: none;
    margin-top: 10px;
    min-width: 200px;
}

.signup-form .btn:hover, .signup-form .btn:focus{
    background: #00b073 !important;
    outline: none;
}

.signup-form a{
    /*color: #00cb82;*/
    color: #1b6d85;
    font-size:15px;
    margin-bottom: 5px;
}

.signup-form a:hover{
   text-decoration: underline;
}